In [1]:
# Import libraries
"""
import numpy as np
import pandas as pd
import scipy as sp
import matplotlib.pyplot as plt
import seaborn as sns
from patsy import dmatrix
import datetime
"""

# Pretty display for notebooks
%matplotlib inline

# Ignore the warnings
import warnings
warnings.filterwarnings('ignore')

# Load the dataset
weather = pd.read_csv("../asset/weather.csv")

# Success - Display the first record
print("weather  data : ", weather.shape)

import awesome_functions as cf

# 원본을 유지하기 위해서 카피
df_weather = weather.copy()

# heatmap을 위한 cmap은 이거 계속 쓰시면 됩니다.
cmap = sns.light_palette("orange", as_cmap=True)

weather  data :  (20517, 20)

# Station 6

In [34]:
station_6 = cf.getSpecifiedWeatherData(df_weather, 6)

In [35]:
cf.isThereNoneData(station_6)

M Data over 60% : []
T Data over 60% : []
B Data over 60% : []

,Column,Row Count,Missing Data,M Data %,Trace Data,T Data %,Bar Data,B Data %
0,station_nbr,1035,0,0.00,0,0.00,0,0.0
1,date,1035,0,0.00,0,0.00,0,0.0
2,tmax,1035,2,0.19,0,0.00,0,0.0
3,tmin,1035,2,0.19,0,0.00,0,0.0
4,tavg,1035,6,0.58,0,0.00,0,0.0
5,depart,1035,37,3.57,0,0.00,0,0.0
6,dewpoint,1035,0,0.00,0,0.00,0,0.0
7,wetbulb,1035,3,0.29,0,0.00,0,0.0
8,heat,1035,6,0.58,0,0.00,0,0.0
9,cool,1035,6,0.58,0,0.00,0,0.0
10,sunrise,1035,0,0.00,0,0.00,31,3.0
11,sunset,1035,0,0.00,0,0.00,31,3.0
12,codesum,1035,0,0.00,0,0.00,0,0.0
13,snowfall,1035,9,0.87,14,1.35,0,0.0
14,preciptotal,1035,2,0.19,157,15.17,0,0.0
15,stnpressure,1035,4,0.39,0,0.00,0,0.0
16,sealevel,1035,3,0.29,0,0.00,0,0.0
17,resultspeed,1035,0,0.00,0,0.00,0,0.0
18,resultdir,1035,0,0.00,0,0.00,0,0.0
19,avgspeed,1035,2,0.19,0,0.00,0,0.0

### 60%이상 m,"-" value 컬럼 : 없음 → m,"-" value row 삭제

In [36]:
cf.remove_columns(station_6, ["station_nbr", "date", "codesum"])

제거한 컬럼명 : ['station_nbr', 'date', 'codesum']

,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,sunrise,sunset,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
1030,87,53,70,4,59,64,0,5,0641,1748,0.0,0.00,29.36,29.88,9.1,18,9.3
1031,85,55,70,5,63,65,0,5,0642,1747,0.0,0.00,29.47,29.98,1.1,21,2.2
1032,81,57,69,4,61,64,0,4,0642,1746,0.0,0.00,29.57,30.08,6.3,02,6.9
1033,83,56,70,5,59,63,0,5,0643,1745,0.0,T,29.57,30.08,2.6,05,3.2
1034,76,51,64,0,47,55,1,0,0644,1745,0.0,0.17,29.72,30.22,11.3,36,11.7

In [37]:
station_6_dropped_all = cf.remove_m_row(station_6)

원본 데이터프레임 length : 1035
제거하고 싶은 컬럼 : ['tmax', 'tmin', 'tavg', 'depart', 'dewpoint', 'wetbulb', 'heat', 'cool', 'sunrise', 'sunset', 'snowfall', 'preciptotal', 'stnpressure', 'sealevel', 'resultspeed', 'resultdir', 'avgspeed']
제거한 int 컬럼 : ['tmax', 'tmin', 'tavg', 'dewpoint', 'wetbulb', 'heat', 'cool', 'sunrise', 'sunset']
제거한 float 컬럼 : ['depart', 'snowfall', 'preciptotal', 'stnpressure', 'sealevel', 'resultspeed', 'resultdir', 'avgspeed']
제거한 후 데이터프레임 length : 986

In [38]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(station_6_dropped_all.values, i) for i in range(station_6_dropped_all.shape[1])]
vif["features"] = station_6_dropped_all.columns
vif = vif.sort_values("VIF Factor").reset_index(drop=True)
vif

       VIF Factor     features
0        1.140410    resultdir
1        1.175756  preciptotal
2        4.365820       depart
3        5.691032       sunset
4        9.132906  resultspeed
5       10.086268     avgspeed
6       11.562786      sunrise
7       75.574288     dewpoint
8      103.898099  stnpressure
9      119.535995     sealevel
10     198.002817      wetbulb
11     808.451927         tmax
12     965.982742         tmin
13    1705.993917         heat
14    3808.117330         cool
15  219665.172423         tavg
16            NaN     snowfall

# Station 7

In [39]:
station_7 = cf.getSpecifiedWeatherData(df_weather, 7)

In [40]:
cf.isThereNoneData(station_7)

M Data over 60% : ['depart']
T Data over 60% : []
B Data over 60% : ['sunrise', 'sunset']

,Column,Row Count,Missing Data,M Data %,Trace Data,T Data %,Bar Data,B Data %
0,station_nbr,1035,0,0.00,0,0.00,0,0.0
1,date,1035,0,0.00,0,0.00,0,0.0
2,tmax,1035,35,3.38,0,0.00,0,0.0
3,tmin,1035,34,3.29,0,0.00,0,0.0
4,tavg,1035,41,3.96,0,0.00,0,0.0
5,depart,1035,1035,100.00,0,0.00,0,0.0
6,dewpoint,1035,37,3.57,0,0.00,0,0.0
7,wetbulb,1035,42,4.06,0,0.00,0,0.0
8,heat,1035,41,3.96,0,0.00,0,0.0
9,cool,1035,41,3.96,0,0.00,0,0.0
10,sunrise,1035,0,0.00,0,0.00,1035,100.0
11,sunset,1035,0,0.00,0,0.00,1035,100.0
12,codesum,1035,0,0.00,0,0.00,0,0.0
13,snowfall,1035,57,5.51,16,1.55,0,0.0
14,preciptotal,1035,1,0.10,116,11.21,0,0.0
15,stnpressure,1035,1,0.10,0,0.00,0,0.0
16,sealevel,1035,39,3.77,0,0.00,0,0.0
17,resultspeed,1035,3,0.29,0,0.00,0,0.0
18,resultdir,1035,3,0.29,0,0.00,0,0.0
19,avgspeed,1035,3,0.29,0,0.00,0,0.0

### 60%이상 m,"-" value 컬럼 : depart, sunrise, sunset → m,"-" value row 삭제

In [42]:
cf.remove_columns(station_7, ["station_nbr", "date", "codesum", "depart", "sunrise", "sunset"])

제거한 컬럼명 : ['station_nbr', 'date', 'codesum', 'depart', 'sunrise', 'sunset']

,tmax,tmin,tavg,dewpoint,wetbulb,heat,cool,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
1030,84,64,74,52,60,0,9,0.0,0.00,28.42,29.73,7.5,21,15.8
1031,69,43,56,40,49,9,0,0.0,0.00,28.75,30.09,8.1,03,8.6
1032,73,40,57,37,47,8,0,0.0,0.00,28.78,30.16,3.5,19,4.0
1033,77,52,65,40,51,0,0,0.0,0.00,28.77,30.13,3.0,28,11.3
1034,58,38,48,32,41,17,0,0.0,0.00,29.00,30.37,11.0,01,11.6

In [43]:
station_7_dropped_all = cf.remove_m_row(station_7)

원본 데이터프레임 length : 1035
제거하고 싶은 컬럼 : ['tmax', 'tmin', 'tavg', 'dewpoint', 'wetbulb', 'heat', 'cool', 'snowfall', 'preciptotal', 'stnpressure', 'sealevel', 'resultspeed', 'resultdir', 'avgspeed']
제거한 int 컬럼 : ['tmax', 'tmin', 'tavg', 'dewpoint', 'wetbulb', 'heat', 'cool']
제거한 float 컬럼 : ['snowfall', 'preciptotal', 'stnpressure', 'sealevel', 'resultspeed', 'resultdir', 'avgspeed']
제거한 후 데이터프레임 length : 935

In [44]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(station_7_dropped_all.values, i) for i in range(station_7_dropped_all.shape[1])]
vif["features"] = station_7_dropped_all.columns
vif = vif.sort_values("VIF Factor").reset_index(drop=True)
vif

       VIF Factor     features
0        1.117737  preciptotal
1        1.147054    resultdir
2        6.705286  resultspeed
3        6.865397     avgspeed
4       80.714452  stnpressure
5       88.656838     dewpoint
6       97.310221     sealevel
7      267.395631      wetbulb
8     1288.839455         tmax
9     1354.006951         tmin
10    1646.923218         cool
11    2612.625654         heat
12  132042.860667         tavg
13            NaN     snowfall

# Station 8

In [46]:
station_8 = cf.getSpecifiedWeatherData(df_weather, 8)

In [47]:
cf.isThereNoneData(station_8)

M Data over 60% : ['depart', 'snowfall', 'sealevel']
T Data over 60% : []
B Data over 60% : ['sunrise', 'sunset']

,Column,Row Count,Missing Data,M Data %,Trace Data,T Data %,Bar Data,B Data %
0,station_nbr,1035,0,0.00,0,0.00,0,0.0
1,date,1035,0,0.00,0,0.00,0,0.0
2,tmax,1035,14,1.35,0,0.00,0,0.0
3,tmin,1035,12,1.16,0,0.00,0,0.0
4,tavg,1035,468,45.22,0,0.00,0,0.0
5,depart,1035,1035,100.00,0,0.00,0,0.0
6,dewpoint,1035,50,4.83,0,0.00,0,0.0
7,wetbulb,1035,64,6.18,0,0.00,0,0.0
8,heat,1035,468,45.22,0,0.00,0,0.0
9,cool,1035,468,45.22,0,0.00,0,0.0
10,sunrise,1035,0,0.00,0,0.00,1035,100.0
11,sunset,1035,0,0.00,0,0.00,1035,100.0
12,codesum,1035,0,0.00,0,0.00,0,0.0
13,snowfall,1035,1030,99.52,0,0.00,0,0.0
14,preciptotal,1035,5,0.48,10,0.97,0,0.0
15,stnpressure,1035,10,0.97,0,0.00,0,0.0
16,sealevel,1035,1035,100.00,0,0.00,0,0.0
17,resultspeed,1035,32,3.09,0,0.00,0,0.0
18,resultdir,1035,32,3.09,0,0.00,0,0.0
19,avgspeed,1035,5,0.48,0,0.00,0,0.0

### 60%이상 m,"-" value 컬럼 : depart, sunrise, sunset, snowfall, sealevel → m,"-" value row 삭제

In [50]:
cf.remove_columns(station_8, ["station_nbr", "date", "codesum", "depart", "sunrise", "sunset", "snowfall", "sealevel"])

제거한 컬럼명 : ['station_nbr', 'date', 'codesum', 'depart', 'sunrise', 'sunset', 'snowfall', 'sealevel']

,tmax,tmin,tavg,dewpoint,wetbulb,heat,cool,preciptotal,stnpressure,resultspeed,resultdir,avgspeed
1030,86,61,74,64,67,0,9,0.00,29.55,6.3,18,6.5
1031,85,62,74,66,68,0,9,0.00,29.63,0.9,18,1.1
1032,77,64,71,66,67,0,6,0.00,29.74,2.4,01,2.8
1033,82,59,71,60,63,0,6,0.00,29.74,0.3,11,0.2
1034,78,55,67,M,M,0,2,T,29.82,M,M,5.1

In [51]:
station_8_dropped_all = cf.remove_m_row(station_8)

원본 데이터프레임 length : 1035
제거하고 싶은 컬럼 : ['tmax', 'tmin', 'tavg', 'dewpoint', 'wetbulb', 'heat', 'cool', 'preciptotal', 'stnpressure', 'resultspeed', 'resultdir', 'avgspeed']
제거한 int 컬럼 : ['tmax', 'tmin', 'tavg', 'dewpoint', 'wetbulb', 'heat', 'cool']
제거한 float 컬럼 : ['preciptotal', 'stnpressure', 'resultspeed', 'resultdir', 'avgspeed']
제거한 후 데이터프레임 length : 533

In [52]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(station_8_dropped_all.values, i) for i in range(station_8_dropped_all.shape[1])]
vif["features"] = station_8_dropped_all.columns
vif = vif.sort_values("VIF Factor").reset_index(drop=True)
vif

       VIF Factor     features
0        1.215813  preciptotal
1        1.329142    resultdir
2        2.389688  stnpressure
3       12.074019  resultspeed
4       12.378135     avgspeed
5       81.795781     dewpoint
6      272.830858      wetbulb
7      923.085506         tmax
8      925.912848         tmin
9     1568.465733         heat
10    5370.541134         cool
11  223663.382369         tavg

# Station 9

In [53]:
station_9 = cf.getSpecifiedWeatherData(df_weather, 9)

In [54]:
cf.isThereNoneData(station_9)

M Data over 60% : ['depart', 'snowfall']
T Data over 60% : []
B Data over 60% : ['sunrise', 'sunset']

,Column,Row Count,Missing Data,M Data %,Trace Data,T Data %,Bar Data,B Data %
0,station_nbr,1035,0,0.00,0,0.00,0,0.0
1,date,1035,0,0.00,0,0.00,0,0.0
2,tmax,1035,6,0.58,0,0.00,0,0.0
3,tmin,1035,7,0.68,0,0.00,0,0.0
4,tavg,1035,19,1.84,0,0.00,0,0.0
5,depart,1035,1035,100.00,0,0.00,0,0.0
6,dewpoint,1035,16,1.55,0,0.00,0,0.0
7,wetbulb,1035,64,6.18,0,0.00,0,0.0
8,heat,1035,19,1.84,0,0.00,0,0.0
9,cool,1035,19,1.84,0,0.00,0,0.0
10,sunrise,1035,0,0.00,0,0.00,1035,100.0
11,sunset,1035,0,0.00,0,0.00,1035,100.0
12,codesum,1035,0,0.00,0,0.00,0,0.0
13,snowfall,1035,1017,98.26,0,0.00,0,0.0
14,preciptotal,1035,5,0.48,191,18.45,0,0.0
15,stnpressure,1035,6,0.58,0,0.00,0,0.0
16,sealevel,1035,14,1.35,0,0.00,0,0.0
17,resultspeed,1035,3,0.29,0,0.00,0,0.0
18,resultdir,1035,3,0.29,0,0.00,0,0.0
19,avgspeed,1035,5,0.48,0,0.00,0,0.0

### 60%이상 m,"-" value 컬럼 : depart, sunrise, sunset, snowfall → m,"-" value row 삭제

In [56]:
cf.remove_columns(station_9, ["station_nbr", "date", "codesum", "depart", "sunrise", "sunset", "snowfall"])

제거한 컬럼명 : ['station_nbr', 'date', 'codesum', 'depart', 'sunrise', 'sunset', 'snowfall']

,tmax,tmin,tavg,dewpoint,wetbulb,heat,cool,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
1030,68,44,56,40,47,9,0,0.00,28.86,29.62,4.9,29,6.8
1031,49,41,45,35,40,20,0,T,29.10,29.83,15.0,27,15.6
1032,43,36,40,32,36,25,0,0.00,29.35,30.11,5.4,30,7.6
1033,49,31,40,31,37,25,0,T,29.42,30.16,7.5,35,9.8
1034,39,25,32,18,27,33,0,0.00,29.74,30.52,8.3,36,8.7

In [57]:
station_9_dropped_all = cf.remove_m_row(station_9)

원본 데이터프레임 length : 1035
제거하고 싶은 컬럼 : ['tmax', 'tmin', 'tavg', 'dewpoint', 'wetbulb', 'heat', 'cool', 'preciptotal', 'stnpressure', 'sealevel', 'resultspeed', 'resultdir', 'avgspeed']
제거한 int 컬럼 : ['tmax', 'tmin', 'tavg', 'dewpoint', 'wetbulb', 'heat', 'cool']
제거한 float 컬럼 : ['preciptotal', 'stnpressure', 'sealevel', 'resultspeed', 'resultdir', 'avgspeed']
제거한 후 데이터프레임 length : 962

In [58]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(station_9_dropped_all.values, i) for i in range(station_9_dropped_all.shape[1])]
vif["features"] = station_9_dropped_all.columns
vif = vif.sort_values("VIF Factor").reset_index(drop=True)
vif

      VIF Factor     features
0       1.241147  preciptotal
1       1.261462    resultdir
2       7.955848  resultspeed
3       8.646077     avgspeed
4      83.404773  stnpressure
5      91.478440     sealevel
6     160.719423     dewpoint
7     240.028962         cool
8     558.743415      wetbulb
9    2005.770512         tmin
10   2326.537101         tmax
11   6276.315499         heat
12  71656.513064         tavg

# Station 10

In [59]:
station_10 = cf.getSpecifiedWeatherData(df_weather, 10)

In [60]:
cf.isThereNoneData(station_10)

M Data over 60% : ['depart', 'snowfall']
T Data over 60% : []
B Data over 60% : []

,Column,Row Count,Missing Data,M Data %,Trace Data,T Data %,Bar Data,B Data %
0,station_nbr,1035,0,0.00,0,0.00,0,0.0
1,date,1035,0,0.00,0,0.00,0,0.0
2,tmax,1035,0,0.00,0,0.00,0,0.0
3,tmin,1035,0,0.00,0,0.00,0,0.0
4,tavg,1035,8,0.77,0,0.00,0,0.0
5,depart,1035,1035,100.00,0,0.00,0,0.0
6,dewpoint,1035,0,0.00,0,0.00,0,0.0
7,wetbulb,1035,3,0.29,0,0.00,0,0.0
8,heat,1035,8,0.77,0,0.00,0,0.0
9,cool,1035,8,0.77,0,0.00,0,0.0
10,sunrise,1035,0,0.00,0,0.00,31,3.0
11,sunset,1035,0,0.00,0,0.00,31,3.0
12,codesum,1035,0,0.00,0,0.00,0,0.0
13,snowfall,1035,1035,100.00,0,0.00,0,0.0
14,preciptotal,1035,1,0.10,157,15.17,0,0.0
15,stnpressure,1035,1,0.10,0,0.00,0,0.0
16,sealevel,1035,2,0.19,0,0.00,0,0.0
17,resultspeed,1035,0,0.00,0,0.00,0,0.0
18,resultdir,1035,0,0.00,0,0.00,0,0.0
19,avgspeed,1035,1,0.10,0,0.00,0,0.0

### 60%이상 m,"-" value 컬럼 : depart, snowfall → m,"-" value row 삭제

In [63]:
cf.remove_columns(station_10, ["station_nbr", "date", "codesum", "depart", "snowfall"])

제거한 컬럼명 : ['station_nbr', 'date', 'codesum', 'depart', 'snowfall']

,tmax,tmin,tavg,dewpoint,wetbulb,heat,cool,sunrise,sunset,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
1030,90,65,78,62,67,0,13,0637,1744,0.00,30.02,30.06,1.6,16,5.9
1031,86,68,77,63,68,0,12,0638,1743,0.00,30.11,30.13,4.9,16,5.4
1032,86,68,77,63,68,0,12,0639,1742,0.00,30.03,30.04,4.3,17,5.1
1033,82,68,75,63,67,0,10,0639,1741,0.30,29.91,29.93,1.9,34,4.7
1034,77,63,70,51,59,0,5,0640,1741,0.00,29.82,29.84,6.9,31,7.8

In [64]:
station_10_dropped_all = cf.remove_m_row(station_10)

원본 데이터프레임 length : 1035
제거하고 싶은 컬럼 : ['tmax', 'tmin', 'tavg', 'dewpoint', 'wetbulb', 'heat', 'cool', 'sunrise', 'sunset', 'preciptotal', 'stnpressure', 'sealevel', 'resultspeed', 'resultdir', 'avgspeed']
제거한 int 컬럼 : ['tmax', 'tmin', 'tavg', 'dewpoint', 'wetbulb', 'heat', 'cool', 'sunrise', 'sunset']
제거한 float 컬럼 : ['preciptotal', 'stnpressure', 'sealevel', 'resultspeed', 'resultdir', 'avgspeed']
제거한 후 데이터프레임 length : 992

In [65]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(station_10_dropped_all.values, i) for i in range(station_10_dropped_all.shape[1])]
vif["features"] = station_10_dropped_all.columns
vif = vif.sort_values("VIF Factor").reset_index(drop=True)
vif

       VIF Factor     features
0        1.255316  preciptotal
1        1.311891    resultdir
2        5.163140       sunset
3        6.531963      sunrise
4        8.916359     avgspeed
5        8.952438  resultspeed
6       85.144798     dewpoint
7      115.758625  stnpressure
8      117.627376     sealevel
9      218.194033      wetbulb
10     415.870482         heat
11     466.924281         tmax
12     572.286131         tmin
13    3723.980261         cool
14  204564.358863         tavg