In [1]:
# Import libraries
'''
import numpy as np
import pandas as pd
import scipy as sp
import matplotlib.pyplot as plt
import seaborn as sns
'''

# Pretty display for notebooks
'''
%matplotlib inline
'''

# Allows the use of display() for DataFrames
from IPython.display import display 

# Ignore the warnings
import warnings
warnings.filterwarnings('ignore')

# Load the dataset
train = pd.read_csv("../asset/train.csv")
test = pd.read_csv("../asset/test.csv")
weather = pd.read_csv("../asset/weather.csv")
key = pd.read_csv("../asset/key.csv")
submission_example = pd.read_csv("../asset/sampleSubmission.csv")

# Success - Display the first record
print("Train data : ", train.shape)
print("Test  data : ", test.shape)
print("weather  data : ", weather.shape)
print("key  data : ", key.shape)
print("submission  data : ", submission_example.shape)

import pickle
import awesome_functions as cf

# slack_url = pickle.load(open('slackUrl.pickle', 'rb'))
# slack_url

# 원본을 유지하기 위해서 카피
df_train = train.copy()
df_weather = weather.copy()
df_key = key.copy()
df_test = test.copy()

Train data :  (4617600, 4)
Test  data :  (526917, 3)
weather  data :  (20517, 20)
key  data :  (45, 2)
submission  data :  (526917, 2)

In [2]:
df_weather_pivot = df_weather.copy()

In [3]:
cf.isThereNoneData(df_weather_pivot)

M Data over 60% : []
T Data over 60% : []
B Data over 60% : []

,Column,Row Count,Missing Data,M Data %,Trace Data,T Data %,Bar Data,B Data %
0,station_nbr,20517,0,0.00,0,0.00,0,0.00
1,date,20517,0,0.00,0,0.00,0,0.00
2,tmax,20517,906,4.42,0,0.00,0,0.00
3,tmin,20517,908,4.43,0,0.00,0,0.00
4,tavg,20517,1469,7.16,0,0.00,0,0.00
5,depart,20517,11511,56.10,0,0.00,0,0.00
6,dewpoint,20517,666,3.25,0,0.00,0,0.00
7,wetbulb,20517,1252,6.10,0,0.00,0,0.00
8,heat,20517,1469,7.16,0,0.00,0,0.00
9,cool,20517,1469,7.16,0,0.00,0,0.00
10,sunrise,20517,0,0.00,0,0.00,9656,47.06
11,sunset,20517,0,0.00,0,0.00,9656,47.06
12,codesum,20517,0,0.00,0,0.00,0,0.00
13,snowfall,20517,7224,35.21,311,1.52,0,0.00
14,preciptotal,20517,860,4.19,2410,11.75,0,0.00
15,stnpressure,20517,929,4.53,0,0.00,0,0.00
16,sealevel,20517,1724,8.40,0,0.00,0,0.00
17,resultspeed,20517,589,2.87,0,0.00,0,0.00
18,resultdir,20517,589,2.87,0,0.00,0,0.00
19,avgspeed,20517,875,4.26,0,0.00,0,0.00

In [4]:
def to_nan(a):
    temp = str(a).strip()
    if temp == 'M' or temp == '-':
        return np.nan
    elif temp == "T":
        return 0
    else:
        return float(a)

In [5]:
df_weather_pivot.columns

Index(['station_nbr', 'date', 'tmax', 'tmin', 'tavg', 'depart', 'dewpoint',
       'wetbulb', 'heat', 'cool', 'sunrise', 'sunset', 'codesum', 'snowfall',
       'preciptotal', 'stnpressure', 'sealevel', 'resultspeed', 'resultdir',
       'avgspeed'],
      dtype='object')

In [6]:
weather_columns = ['tmax', 'tmin', 'tavg', 'depart', 'dewpoint', 'wetbulb', 'heat', 'cool', 'sunrise', 'sunset','snowfall', 'preciptotal',
 'stnpressure', 'sealevel', 'resultspeed', 'resultdir', 'avgspeed']

In [7]:
for column in weather_columns:
    df_weather_pivot[column] = df_weather_pivot[column].apply(to_nan)

In [8]:
df_weather_pivot.tail()

,station_nbr,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,sunrise,sunset,codesum,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
20512,16,2014-10-31,53.0,34.0,44.0,NaN,35.0,41.0,21.0,0.0,NaN,NaN,,NaN,0.00,29.90,29.99,4.5,3.0,5.3
20513,17,2014-10-31,59.0,34.0,47.0,NaN,32.0,41.0,18.0,0.0,NaN,NaN,RA,0.0,0.00,29.72,30.39,9.2,1.0,9.3
20514,18,2014-10-31,67.0,49.0,58.0,-4.0,40.0,50.0,7.0,0.0,644.0,1738.0,,0.0,0.00,29.78,30.28,10.6,36.0,11.2
20515,19,2014-10-31,45.0,33.0,39.0,-6.0,24.0,32.0,26.0,0.0,624.0,1646.0,RA SN,0.1,0.02,29.51,30.24,20.4,34.0,20.9
20516,20,2014-10-31,68.0,50.0,59.0,NaN,39.0,50.0,6.0,0.0,NaN,NaN,,0.0,0.00,29.57,30.27,10.5,36.0,11.2

In [9]:
cf.isThereNoneData(df_weather_pivot)

M Data over 60% : []
T Data over 60% : []
B Data over 60% : []

,Column,Row Count,Missing Data,M Data %,Trace Data,T Data %,Bar Data,B Data %
0,station_nbr,20517,0,0.0,0,0.0,0,0.0
1,date,20517,0,0.0,0,0.0,0,0.0
2,tmax,20517,0,0.0,0,0.0,0,0.0
3,tmin,20517,0,0.0,0,0.0,0,0.0
4,tavg,20517,0,0.0,0,0.0,0,0.0
5,depart,20517,0,0.0,0,0.0,0,0.0
6,dewpoint,20517,0,0.0,0,0.0,0,0.0
7,wetbulb,20517,0,0.0,0,0.0,0,0.0
8,heat,20517,0,0.0,0,0.0,0,0.0
9,cool,20517,0,0.0,0,0.0,0,0.0
10,sunrise,20517,0,0.0,0,0.0,0,0.0
11,sunset,20517,0,0.0,0,0.0,0,0.0
12,codesum,20517,0,0.0,0,0.0,0,0.0
13,snowfall,20517,0,0.0,0,0.0,0,0.0
14,preciptotal,20517,0,0.0,0,0.0,0,0.0
15,stnpressure,20517,0,0.0,0,0.0,0,0.0
16,sealevel,20517,0,0.0,0,0.0,0,0.0
17,resultspeed,20517,0,0.0,0,0.0,0,0.0
18,resultdir,20517,0,0.0,0,0.0,0,0.0
19,avgspeed,20517,0,0.0,0,0.0,0,0.0

In [10]:
df_weather_pivot_count = df_weather_pivot.copy()

In [11]:
def nan_to_zero(a):
    if np.isnan(a):
        return 0
    else:
        return 1

In [12]:
for column in weather_columns:
    df_weather_pivot_count[column] = df_weather_pivot_count[column].apply(nan_to_zero)

In [13]:
df_weather_pivot_count.tail()

,station_nbr,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,sunrise,sunset,codesum,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
20512,16,2014-10-31,1,1,1,0,1,1,1,1,0,0,,0,1,1,1,1,1,1
20513,17,2014-10-31,1,1,1,0,1,1,1,1,0,0,RA,1,1,1,1,1,1,1
20514,18,2014-10-31,1,1,1,1,1,1,1,1,1,1,,1,1,1,1,1,1,1
20515,19,2014-10-31,1,1,1,1,1,1,1,1,1,1,RA SN,1,1,1,1,1,1,1
20516,20,2014-10-31,1,1,1,0,1,1,1,1,0,0,,1,1,1,1,1,1,1

In [14]:
df_weather_pivot_A = df_weather_pivot.merge(df_key, on=["station_nbr"], how='inner')
df_weather_pivot_A.tail()
# inner와 outer는 on으로 잡아주는 column 기준으로 합집합이냐 교집합이냐

,station_nbr,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,sunset,codesum,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed,store_nbr
46387,5,2014-10-27,NaN,NaN,NaN,NaN,38.0,NaN,NaN,NaN,...,1645.0,,NaN,NaN,NaN,29.91,13.4,28.0,NaN,35
46388,5,2014-10-28,NaN,NaN,NaN,NaN,47.0,NaN,NaN,NaN,...,1644.0,,NaN,NaN,NaN,30.03,7.0,19.0,NaN,35
46389,5,2014-10-29,NaN,NaN,NaN,NaN,55.0,NaN,NaN,NaN,...,1643.0,,NaN,NaN,NaN,29.87,8.2,23.0,NaN,35
46390,5,2014-10-30,NaN,NaN,NaN,NaN,38.0,NaN,NaN,NaN,...,1641.0,,NaN,NaN,NaN,29.95,8.3,30.0,NaN,35
46391,5,2014-10-31,NaN,NaN,NaN,NaN,37.0,NaN,NaN,NaN,...,1640.0,,NaN,NaN,NaN,30.01,10.8,5.0,NaN,35

In [15]:
for column in weather_columns:
    df_weather_pivot_A[column] = df_weather_pivot_A[column].apply(to_nan)

In [16]:
for column in weather_columns:
    df_weather_pivot_A[column] = df_weather_pivot_A[column].apply(nan_to_zero)

In [56]:
rows_nbr_by_station = list(df_weather_pivot_count.groupby("station_nbr").size().values)

In [59]:
def function_sum(data):
    
    return len(data) - np.sum(data)

In [61]:
df_m_value_nbrs_by_station = df_weather_pivot_count.pivot_table(weather_columns, "station_nbr", aggfunc=function_sum)

In [63]:
df_m_value_nbrs_by_station

,avgspeed,cool,depart,dewpoint,heat,preciptotal,resultdir,resultspeed,sealevel,snowfall,stnpressure,sunrise,sunset,tavg,tmax,tmin,wetbulb
station_nbr,,,,,,,,,,,,,,,,,
1,3,6,1035,6,6,5,4,4,8,1035,4,1035,1035,6,2,2,11
2,4,12,43,6,12,1,5,5,11,11,6,31,31,12,1,1,16
3,2,7,38,0,7,2,0,0,3,4,3,31,31,7,2,2,3
4,2,10,41,8,10,2,7,7,19,5,4,31,31,10,2,2,15
5,822,822,822,446,822,822,446,446,447,822,852,31,31,822,822,822,852
6,2,6,37,0,6,2,0,0,3,9,4,31,31,6,2,2,3
7,3,41,1035,37,41,1,3,3,39,57,1,1035,1035,41,35,34,42
8,5,468,1035,50,468,5,32,32,1035,1030,10,1035,1035,468,14,12,64
9,5,19,1035,16,19,5,3,3,14,1017,6,1035,1035,19,6,7,64
10,1,8,1035,0,8,1,0,0,2,1035,1,31,31,8,0,0,3
11,3,4,35,60,4,1,60,60,60,3,5,31,31,4,1,1,63
12,2,4,1035,1,4,1,1,1,4,33,2,1035,1035,4,1,1,4
13,1,14,1035,0,14,1,0,0,3,1035,3,1035,1035,14,1,1,3
14,2,6,37,3,6,2,2,2,15,2,6,31,31,6,2,2,9
15,3,5,36,7,5,1,6,6,10,4,2,31,31,5,1,3,9
16,8,13,1035,8,13,2,7,7,9,1035,2,1035,1035,13,7,7,11
17,1,5,1035,1,5,1,4,4,11,55,2,1035,1035,5,1,1,9
18,2,4,34,0,4,2,0,0,2,5,5,31,31,4,2,2,3
19,2,8,38,11,8,2,0,0,13,2,3,31,31,8,2,2,49
20,2,7,1035,6,7,1,9,9,16,25,8,1035,1035,7,2,4,19

### >>> station(>store)별로 weather 데이터의 유무를 알 수 있다

In [19]:
df_train.tail()

               date  store_nbr  item_nbr  units
4617595  2014-10-31         45       107      0
4617596  2014-10-31         45       108      0
4617597  2014-10-31         45       109      0
4617598  2014-10-31         45       110      0
4617599  2014-10-31         45       111      0

In [71]:
df_train_pivot = df_train.pivot_table(["units"],["item_nbr"],aggfunc=np.sum)
df_train_pivot
# 다룰 데이터, 로우에 배치할 데이터, 열값으로 가져갈 카테고리 데이터

           units
item_nbr
1            778
2           3269
3            675
4            348
5         846662
6          41398
7            721
8          30345
9         916615
10           745
11           655
12           541
13           604
14           288
15          5334
16        226772
17           727
18           535
19           540
20           863
21          1699
22           162
23         34389
24          2421
25        148253
26          3429
27         11072
28          4893
29           831
30          1011
...          ...
82           443
83          8422
84           235
85           248
86           877
87           996
88           223
89           157
90          1083
91           600
92           724
93         27910
94           775
95         16594
96           469
97          1844
98          1281
99           492
100          552
101          450
102           31
103          241
104          656
105          637
106          139
107          534
108         2045
109         4208
110         1402
111          254

[111 rows x 1 columns]

In [70]:
df_train_pivot["units"][1]

store_nbr
0       1
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      0
26      0
27      0
28      0
29      0
30      0
31      0
32      0
33      0
34      0
35      0
36    778
37      0
38      0
39      0
40      0
41      0
42      0
43      0
44      0
45      0
Name: 1, dtype: int64

In [22]:
df_train_pivot.loc[0] = valid_station_count

In [23]:
df_train_pivot

          units                                                        ...   \
item_nbr    1     2    3    4      5      6    7      8       9    10  ...
store_nbr                                                              ...
1             0     0    0    0      0      0    0      0   27396    0 ...
2             0     0    0    0  55104      0    0      0       0    0 ...
3             0  1083    0    0  56663      0    0      0       0    0 ...
4             0     0    0    0      0      0    0      0  117123    0 ...
5             0     0    0    0      0      0    0      0       0    0 ...
6             0     0    0    0      0      0    0      0   50431    0 ...
7             0     0    0    0  62230      0  721      0       0    0 ...
8             0     0    0    0  32647      0    0      0       0    0 ...
9             0     0    0    0  45024      0    0      0       0  745 ...
10            0     0    0    0  61866      0    0      0       0    0 ...
11            0     0    0    0      0      0    0      0   34103    0 ...
12            0     0    0    0      0      0    0      0       0    0 ...
13            0     0    0    0  67241      0    0      0       0    0 ...
14            0     0    0    0      0      0    0      0   12164    0 ...
15            0     0    0    0  64522      0    0      0       0    0 ...
16            0     0    0    0      0      0    0      0       0    0 ...
17            0     0    0    0      0      0    0      0  135367    0 ...
18            0     0    0    0  16565      0    0      0       0    0 ...
19            0     0    0    0      0      0    0      0       0    0 ...
20            0     0    0    0  71034      0    0      0       0    0 ...
21            0     0    0    0  41641      0    0      0       0    0 ...
22            0     0    0    0      0      0    0      0   42880    0 ...
23            0     0    0    0  28810      0    0      0       0    0 ...
24            0     0    0    0      0  41398    0      0       0    0 ...
25            0     0    0    0      0      0    0      0   98560    0 ...
26            0  1482    0    0  43448      0    0      0       0    0 ...
27            0     0    0    0      0      0    0      0   31652    0 ...
28            0   704    0    0  33338      0    0      0       0    0 ...
29            0     0    0    0      0      0    0  30345       0    0 ...
30            0     0    0    0      0      0    0      0       0    0 ...
31            0     0    0    0      0      0    0      0   48233    0 ...
32            0     0    0    0      0      0    0      0   41888    0 ...
33            0     0    0    0      0      0    0      0  101586    0 ...
34            0     0    0    0      0      0    0      0   51789    0 ...
35            0     0    0    0      0      0    0      0       0    0 ...
36          778     0    0    0      0      0    0      0   35874    0 ...
37            0     0    0    0  50063      0    0      0       0    0 ...
38            0     0    0    0      0      0    0      0   66679    0 ...
39            0     0    0    0      0      0    0      0    5057    0 ...
40            0     0    0    0  48454      0    0      0       0    0 ...
41            0     0    0    0      0      0    0      0       0    0 ...
42            0     0    0    0  35178      0    0      0       0    0 ...
43            0     0  675    0      0      0    0      0       0    0 ...
44            0     0    0    0  32834      0    0      0       0    0 ...
45            0     0    0  348      0      0    0      0   15833    0 ...
0             1     3    1    1     18      1    1      1      17    1 ...


item_nbr  102  103  104  105 106  107   108   109   110  111
store_nbr
1           0    0    0    0   0    0     0     0     0    0
2           0    0    0    0   0    0     0     0     0    0
3          31    0    0    0   0    0     0  1394     0    0
4           0    0    0    0   0    0     0     0     0    0
5           0    0    0  100   0    0     0     0     0    0
6           0    0    0    0   0  534     0     0     0    0
7           0    0    0    0   0    0     0     0     0    0
8           0    0    0    0   0    0     0     0     0    0
9           0    0    0   73   0    0     0     0     0    0
10          0    0    0    0   0    0     0     0     0    0
11          0    0    0    0   0    0     0     0  1402    0
12          0    0    0    0   0    0     0     0     0    0
13          0    0   92    0   0    0     0     0     0    0
14          0    0    0    0   0    0     0     0     0    0
15          0    0    0    0   0    0     0     0     0    0
16          0    0    0    0   0    0     0     0     0    0
17          0    0    0    0   0    0     0     0     0    0
18          0    0    0    0   0    0     0     0     0    0
19          0    0    0    0   0    0     0     0     0    0
20          0    0    0    0  61    0     0     0     0    0
21          0    0    0    0   0    0     0  2814     0    0
22          0    0   68    0   0    0     0     0     0    0
23          0    0    0    0   0    0     0     0     0    0
24          0    0    0    0   0    0     0     0     0    0
25          0    0    0    0   0    0     0     0     0    0
26          0    0    0    0   0    0     0     0     0    0
27          0    0    0    0   0    0     0     0     0    0
28          0    0    0    0   0    0     0     0     0    0
29          0    0    0    0   0    0     0     0     0    0
30          0    0    0    0   0    0     0     0     0    0
31          0    0   58    0   0    0     0     0     0    0
32          0    0    0    0   0    0     0     0     0    0
33          0    0    0    0   0    0     0     0     0    0
34          0    0    0    0   0    0     0     0     0    0
35          0    0    0   77   0    0     0     0     0    0
36          0    0    0    0   0    0     0     0     0    0
37          0    0  438  232   0    0     0     0     0    0
38          0    0    0    0   0    0     0     0     0    0
39          0  241    0    0   0    0     0     0     0  254
40          0    0    0    0  78    0     0     0     0    0
41          0    0    0    0   0    0  2045     0     0    0
42          0    0    0    0   0    0     0     0     0    0
43          0    0    0   72   0    0     0     0     0    0
44          0    0    0   83   0    0     0     0     0    0
45          0    0    0    0   0    0     0     0     0    0
0           1    1    4    6   2    1     1     2     1    1

[46 rows x 111 columns]

In [24]:
df_train_pivot = df_train_pivot.sort_index()

In [25]:
df_train_pivot

          units                                                        ...   \
item_nbr    1     2    3    4      5      6    7      8       9    10  ...
store_nbr                                                              ...
0             1     3    1    1     18      1    1      1      17    1 ...
1             0     0    0    0      0      0    0      0   27396    0 ...
2             0     0    0    0  55104      0    0      0       0    0 ...
3             0  1083    0    0  56663      0    0      0       0    0 ...
4             0     0    0    0      0      0    0      0  117123    0 ...
5             0     0    0    0      0      0    0      0       0    0 ...
6             0     0    0    0      0      0    0      0   50431    0 ...
7             0     0    0    0  62230      0  721      0       0    0 ...
8             0     0    0    0  32647      0    0      0       0    0 ...
9             0     0    0    0  45024      0    0      0       0  745 ...
10            0     0    0    0  61866      0    0      0       0    0 ...
11            0     0    0    0      0      0    0      0   34103    0 ...
12            0     0    0    0      0      0    0      0       0    0 ...
13            0     0    0    0  67241      0    0      0       0    0 ...
14            0     0    0    0      0      0    0      0   12164    0 ...
15            0     0    0    0  64522      0    0      0       0    0 ...
16            0     0    0    0      0      0    0      0       0    0 ...
17            0     0    0    0      0      0    0      0  135367    0 ...
18            0     0    0    0  16565      0    0      0       0    0 ...
19            0     0    0    0      0      0    0      0       0    0 ...
20            0     0    0    0  71034      0    0      0       0    0 ...
21            0     0    0    0  41641      0    0      0       0    0 ...
22            0     0    0    0      0      0    0      0   42880    0 ...
23            0     0    0    0  28810      0    0      0       0    0 ...
24            0     0    0    0      0  41398    0      0       0    0 ...
25            0     0    0    0      0      0    0      0   98560    0 ...
26            0  1482    0    0  43448      0    0      0       0    0 ...
27            0     0    0    0      0      0    0      0   31652    0 ...
28            0   704    0    0  33338      0    0      0       0    0 ...
29            0     0    0    0      0      0    0  30345       0    0 ...
30            0     0    0    0      0      0    0      0       0    0 ...
31            0     0    0    0      0      0    0      0   48233    0 ...
32            0     0    0    0      0      0    0      0   41888    0 ...
33            0     0    0    0      0      0    0      0  101586    0 ...
34            0     0    0    0      0      0    0      0   51789    0 ...
35            0     0    0    0      0      0    0      0       0    0 ...
36          778     0    0    0      0      0    0      0   35874    0 ...
37            0     0    0    0  50063      0    0      0       0    0 ...
38            0     0    0    0      0      0    0      0   66679    0 ...
39            0     0    0    0      0      0    0      0    5057    0 ...
40            0     0    0    0  48454      0    0      0       0    0 ...
41            0     0    0    0      0      0    0      0       0    0 ...
42            0     0    0    0  35178      0    0      0       0    0 ...
43            0     0  675    0      0      0    0      0       0    0 ...
44            0     0    0    0  32834      0    0      0       0    0 ...
45            0     0    0  348      0      0    0      0   15833    0 ...


item_nbr  102  103  104  105 106  107   108   109   110  111
store_nbr
0           1    1    4    6   2    1     1     2     1    1
1           0    0    0    0   0    0     0     0     0    0
2           0    0    0    0   0    0     0     0     0    0
3          31    0    0    0   0    0     0  1394     0    0
4           0    0    0    0   0    0     0     0     0    0
5           0    0    0  100   0    0     0     0     0    0
6           0    0    0    0   0  534     0     0     0    0
7           0    0    0    0   0    0     0     0     0    0
8           0    0    0    0   0    0     0     0     0    0
9           0    0    0   73   0    0     0     0     0    0
10          0    0    0    0   0    0     0     0     0    0
11          0    0    0    0   0    0     0     0  1402    0
12          0    0    0    0   0    0     0     0     0    0
13          0    0   92    0   0    0     0     0     0    0
14          0    0    0    0   0    0     0     0     0    0
15          0    0    0    0   0    0     0     0     0    0
16          0    0    0    0   0    0     0     0     0    0
17          0    0    0    0   0    0     0     0     0    0
18          0    0    0    0   0    0     0     0     0    0
19          0    0    0    0   0    0     0     0     0    0
20          0    0    0    0  61    0     0     0     0    0
21          0    0    0    0   0    0     0  2814     0    0
22          0    0   68    0   0    0     0     0     0    0
23          0    0    0    0   0    0     0     0     0    0
24          0    0    0    0   0    0     0     0     0    0
25          0    0    0    0   0    0     0     0     0    0
26          0    0    0    0   0    0     0     0     0    0
27          0    0    0    0   0    0     0     0     0    0
28          0    0    0    0   0    0     0     0     0    0
29          0    0    0    0   0    0     0     0     0    0
30          0    0    0    0   0    0     0     0     0    0
31          0    0   58    0   0    0     0     0     0    0
32          0    0    0    0   0    0     0     0     0    0
33          0    0    0    0   0    0     0     0     0    0
34          0    0    0    0   0    0     0     0     0    0
35          0    0    0   77   0    0     0     0     0    0
36          0    0    0    0   0    0     0     0     0    0
37          0    0  438  232   0    0     0     0     0    0
38          0    0    0    0   0    0     0     0     0    0
39          0  241    0    0   0    0     0     0     0  254
40          0    0    0    0  78    0     0     0     0    0
41          0    0    0    0   0    0  2045     0     0    0
42          0    0    0    0   0    0     0     0     0    0
43          0    0    0   72   0    0     0     0     0    0
44          0    0    0   83   0    0     0     0     0    0
45          0    0    0    0   0    0     0     0     0    0

[46 rows x 111 columns]

In [26]:
df_train_pivot.index.names[0]

'store_nbr'

### >>> item별로 의미있는 store는 이미 정해져 있다

In [27]:
df_train.tail()

               date  store_nbr  item_nbr  units
4617595  2014-10-31         45       107      0
4617596  2014-10-31         45       108      0
4617597  2014-10-31         45       109      0
4617598  2014-10-31         45       110      0
4617599  2014-10-31         45       111      0

In [28]:
df_train_key = df_train.merge(df_key, on=["store_nbr"], how="inner")

In [29]:
df_train_key_weather = df_train_key.merge(df_weather,on=["date", "station_nbr"], how="inner")

In [30]:
df_train_key_weather.tail()

,date,store_nbr,item_nbr,units,station_nbr,tmax,tmin,tavg,depart,dewpoint,...,sunrise,sunset,codesum,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
4617595,2014-10-31,35,107,0,5,M,M,M,M,37,...,0616,1640,,M,M,M,30.01,10.8,05,M
4617596,2014-10-31,35,108,0,5,M,M,M,M,37,...,0616,1640,,M,M,M,30.01,10.8,05,M
4617597,2014-10-31,35,109,0,5,M,M,M,M,37,...,0616,1640,,M,M,M,30.01,10.8,05,M
4617598,2014-10-31,35,110,0,5,M,M,M,M,37,...,0616,1640,,M,M,M,30.01,10.8,05,M
4617599,2014-10-31,35,111,0,5,M,M,M,M,37,...,0616,1640,,M,M,M,30.01,10.8,05,M

In [31]:
df_total_ftd = df_train_key_weather.copy()

In [32]:
# valid_station_count = []
# for i in range(1,112):
#     valid_station_count.append(len(df_train_pivot[df_train_pivot['units'][i] = 0]))
# valid_station_count

In [33]:
valid_station_nbr_ls = list(df_train_pivot[df_train_pivot['units'][1] != 0].index)
valid_station_nbr_ls[1:]

[36]

In [34]:
invalid_station_nbr_ls = list(df_train_pivot[df_train_pivot['units'][1] == 0].index)
invalid_station_nbr_ls

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45]

In [35]:
df_train_key_weather.tail()

,date,store_nbr,item_nbr,units,station_nbr,tmax,tmin,tavg,depart,dewpoint,...,sunrise,sunset,codesum,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
4617595,2014-10-31,35,107,0,5,M,M,M,M,37,...,0616,1640,,M,M,M,30.01,10.8,05,M
4617596,2014-10-31,35,108,0,5,M,M,M,M,37,...,0616,1640,,M,M,M,30.01,10.8,05,M
4617597,2014-10-31,35,109,0,5,M,M,M,M,37,...,0616,1640,,M,M,M,30.01,10.8,05,M
4617598,2014-10-31,35,110,0,5,M,M,M,M,37,...,0616,1640,,M,M,M,30.01,10.8,05,M
4617599,2014-10-31,35,111,0,5,M,M,M,M,37,...,0616,1640,,M,M,M,30.01,10.8,05,M

In [36]:
# drop은 column명이나 index로 삭제할 수 있고 value를 기준으로는 삭제X

In [37]:
# value 기준으로 삭제하기
# dframe = dframe.drop(dframe.index[dframe.A == 'a'])

In [38]:
# for i in range(1, 112):
#     df1 = df_total_ftd[df_total_ftd["item_nbr"]==i]
#     invalid_station_nbr_ls = list(df_train_pivot[df_train_pivot['units'][i] == 0].index)
#     for j in invalid_station_nbr_ls:
#         df1 = df1.drop(df1.index[df1["store_nbr"] == j])
# df1

In [39]:
# for i in range(1, 112):
#     invalid_station_nbr_ls = list(df_train_pivot[df_train_pivot['units'][i] == 0].index)
#     for j in invalid_station_nbr_ls:
#         df_total_ftd[df_total_ftd["item_nbr"]==i] = df_total_ftd[df_total_ftd["item_nbr"]==i].drop(df_total_ftd[df_total_ftd["item_nbr"]==i].index[df_total_ftd[df_total_ftd["item_nbr"]==i]["store_nbr"] == j])
# df_total_ftd

In [40]:
# invalid_station_nbr_ls = list(df_train_pivot[df_train_pivot['units'][1] == 0].index)
# df_total_ftd_1 = df_total_ftd[df_total_ftd["item_nbr"]==1]
# for j in invalid_station_nbr_ls:
#     df_total_ftd_1 = df_total_ftd_1.drop(df_total_ftd_1.index[df_total_ftd_1["store_nbr"] == j])
# df_total_ftd_1

In [41]:
# invalid_station_nbr_ls = list(df_train_pivot[df_train_pivot['units'][2] == 0].index)
# df_total_ftd_2 = df_total_ftd[df_total_ftd["item_nbr"]==2]
# for j in invalid_station_nbr_ls:
#     df_total_ftd_2 = df_total_ftd_2.drop(df_total_ftd_2.index[df_total_ftd_2["store_nbr"] == j])
# df_total_ftd_2

In [42]:
# for j in invalid_station_nbr_ls:
#     df1 = df1.drop(df1.index[df1["store_nbr"] == j])
# df1

In [43]:
# for i in range(1, 112):
#     df = df_total_ftd[df_total_ftd["item_nbr"]==i]
#     invalid_station_nbr_ls = list(df_train_pivot[df_train_pivot['units'][i] == 0].index)
#     for j in invalid_station_nbr_ls:
#         df.drop(df.index[df.station_nbr == j])

In [72]:
import seaborn as sns
tips = sns.load_dataset("tips")
tips.pivot_table(index="sex", columns="day", aggfunc="size")

day     Thur  Fri  Sat  Sun
sex
Male      30   10   59   58
Female    32    9   28   18

In [75]:
tips.shape

(244, 7)

In [80]:
tips.pivot_table(index="sex", columns="day", aggfunc="size").columns

'Thur'